body {
	font-family: 'Montserrat', sans-serif;
	background-image: url('images/mountain.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 106%;
	font-size: 16px;
}

.row h1 {
	color: rgb(31,88,140);
	font-size: 35px;
}

.row h2 {
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 2%;
	color: rgb(31,88,140);
	font-size: 20px;
}

h3{
  color: rgb(20,57,90);
  font-size: 16px;
}

.container-fluid {
	width: 80%;
	margin-top: 15%;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 2%;
}

#box {
	width: 60%;
}

.modal-dialog {
    width: 400px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}

.error{
border:1px solid red;
}

.success{
border:1px solid green;
}
